extends layout
    
block content
    h2 You
    p name: #{agent.name}
    p email: #{agent.email}

    .panel-group(id="scAccordion")
        .panel.panel-default
            .panel-heading
                .panel-title
                    a(data-toggle="collapse", data-parent="#scAccordion", href="#requestsCollapse") Social Commitments (#{socialCommitments.length})
            .panel-collapse.collapse(id="requestsCollapse")
                .panel-body
                    - for (var i = 0; i < socialCommitments.length; i++)
                        .panel-group(id="#{socialCommitments[i]._id}Accordion")
                            .panel.panel-default
                                .panel-heading
                                    .panel-title
                                        a(data-toggle="collapse", data-parent="##{socialCommitments[i]._id}Accordion", href="##{socialCommitments[i]._id}")
                                            | #{socialCommitments[i].type} #{socialCommitments[i].action} 
                                        form.form-inline(role="form", action="/request", method="post")
                                            .form-group
                                                input(type="hidden", name="recipient", value=agent.email)
                                                input(type="hidden", name="action", value="agree")
                                                input(type="hidden", name="socialCommitmentId", value=socialCommitments[i]._id)
                                            button.btn.btn-default(type="submit") Agree 
                                        form.form-inline(role="form", action="/request", method="post")
                                            .form-group
                                                input(type="hidden", name="recipient", value=agent.email)
                                                input(type="hidden", name="action", value="refuse")
                                                input(type="hidden", name="socialCommitmentId", value=socialCommitments[i]._id)
                                            button.btn.btn-default(type="submit") Refuse
                                            
                                .panel-collapse.collapse(id="#{socialCommitments[i]._id}")
                                    .panel-body
                                        div Creditor: #{socialCommitments[i].creditor}
                                        div Debtor: #{socialCommitments[i].debtor}
                                        div Created: #{socialCommitments[i].created}
                                        div Fulfilled: #{socialCommitments[i].fulfilled}
                                        div Data: #{JSON.stringify(socialCommitments[i].data)}
    .panel-group(id="friendosAccordion")
        .panel.panel-default
            .panel-heading
                .panel-title
                    a(data-toggle="collapse", data-parent="#friendosAccordion", href="#friendosCollapse") Friends (#{friendos.length})
            .panel-collapse.collapse(id="friendosCollapse")
                 .panel-body
                    form.form-inline(role="form", action="/request", method="post")
                        .form-group
                            input(type="hidden", name="action", value="friendo")
                        .form-group
                            input.form-control(type="email", name="recipient", placeholder="Your friendo's email")
                        .form-group
                            input.form-control(type="url", name="uri", placeholder="Your friendo's gebo")
                        button.btn.btn-default(type="submit") Friend!
                    br                            
                    - for (var i = 0; i < friendos.length; i++)
                        .panel-group(id="#{friendos[i]._id}Accordion}")
                            .panel.panel-default
                                .panel-heading
                                    .panel-title
                                        a(data-toggle="collapse", data-parent="##{friendos[i]._id}Accordion", href="##{friendos[i]._id}")
                                            | #{friendos[i].name}: #{friendos[i].email}
                                .panel-collapse.collapse(id="#{friendos[i]._id}")
                                    .panel-body
                                        - for (var j = 0; j < friendos[i].permissions.length; j++)
                                            div #{friendos[i].permissions[j].email}
                                            form.form-inline(role="form", action="/request", method="post") 
                                                .form-group
                                                    input(type="hidden", name="recipient", value=agent.email)
                                                    input(type="hidden", name="action", value="grantAccess")
                                                    input(type="hidden", name="friendo", value=friendos[i].email)
                                                    input(type="hidden", name="relevantResource", value=friendos[i].permissions[j].email)
                                                    label(for="read") Read
                                                    input(type="checkbox", id="read", name="read", value="true", onclick="this.form.submit()", checked=friendos[i].permissions[j].read)
                                                    label(for="write") Write
                                                    input(type="checkbox", id="write", name="write", value="true", onclick="this.form.submit()", checked=friendos[i].permissions[j].write)
                                                    label(for="execute") Execute
                                                    input(type="checkbox", id="execute", name="execute", value="true", onclick="this.form.submit()", checked=friendos[i].permissions[j].execute)



