extends layout

block content
    p.lead gebo friendos
    ul
        - for (var i =0; i < friendos.length; i++)
                li #{friendos[i].name} - #{friendos[i].email}: #{friendos[i].uri}
                form(action="/poke", method="post", autocomplete="off")
                    input(name="email" type="hidden" value="#{friendos[i].email}")
                    //input(name="uri" type="hidden" value="#{friendos[i].uri}")
                    //input(name="authorize" type="hidden" value="#{friendos[i].authorize}")
                    button.btn.btn-default.btn-md.btn-mini(type="submit")
                        span.glyphicon.glyphicon-pushpin Poke
    p.lead Registered agents
    ul
        - for (var i = 0; i < registrants.length; i++)
            li #{registrants[i].name} - #{registrants[i].email} 
