extends layout

block content
    p.lead Hello, #{user.name}
    p
        i #{oauth.req.clientName} 
        | needs #{oauth.req.scope.join('/')} access to the files it stores in your account

    pre
        ul.unstyled
            li Email: #{oauth.req.clientID}
            li Callback: #{oauth.req.redirectURI}
            li Permissions: #{oauth.req.scope.join('/')}
            li Your IP: #{oauth.client.ip}
    p.
        Do you trust this application?

    form(action="/dialog/authorize/decision", method="post")
        input(name="transaction_id", type="hidden", value="#{transactionID}")
        div
            input(type="submit", value="Yes", id="allow")
            input(type="submit", value="No", name="cancel", id="deny")
