extends layout

block content
    p.lead Hello, #{agent.name}
    p
        i #{oauth.req.clientName} 
        | needs #{oauth.req.scope} access to the files it stores in your account

    pre
        ul.unstyled
            li Email: #{oauth.req.clientID}
            li Callback: #{oauth.req.redirectURI}
            li Permissions: #{oauth.req.scope}
            li Your IP: #{oauth.client.ip}
    p.
        Do you trust this application?

    form(action="/dialog/authorize/decision", method="post")
        input(name="transaction_id", type="hidden", value="#{transactionID}")
        div
            button.btn-lg.btn-warning(type="submit", value="Yes", id="allow") Yes 
            &nbsp;
            button.btn-lg.btn-warning(type="submit", value="No", name="cancel", id="deny") No 
